.logo{
  height:30px;
  width:auto
}

.logos
{
  width:100%;
}

.names
{
  color:white;
  font-size:12px;
}

.name
{
  padding:0;
  margin:3px;
}

.name {
  background-color: rgb(0, 0, 0, 0.7);
  transition: transform 0.2s;
  color:white;
}

.button
{
  vertical-align: center;
  text-align: center;
  width:80px;
  font-size: 16px;
}

.name:hover {
  transform: scale(1.1);
}
