<div class="background">
  <div class="container pt-4">
    <div class="row pb-4">
      <div class="col-4 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getAttaquantsGauche().nom=='';else elseBlock">
          <button (click)="moveToChoixJoueur('attaquant','Gauche',11)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>AG</h4>
          </button>
        </div>
        <ng-template #elseBlock>
          <p class="text-success">{{equipe.getAttaquantsGauche().nom}}</p>
        </ng-template>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getAttaquantsPointe().nom=='';else elseBlock2" >
          <button (click)="moveToChoixJoueur('attaquant','Pointe',11)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>BU</h4>
          </button>
        </div>
        <ng-template #elseBlock2>
          <p class="text-success">{{equipe.getAttaquantsPointe().nom}}</p>
        </ng-template>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getAttaquantsDroit().nom=='';else elseBlock3">
          <button (click)="moveToChoixJoueur('attaquant','Droit',11)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>AD</h4>
          </button>
        </div>
        <ng-template #elseBlock3>
          <p class="text-success">{{equipe.getAttaquantsDroit().nom}}</p>
        </ng-template>
      </div>
    </div>
    <div class="row pt-4 pb-4">
      <div class="col-4 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getMilieuGauche().nom=='';else elseBlock4">
          <button (click)="moveToChoixJoueur('milieuDeTerrain','Gauche',9)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>MC</h4>
          </button>
        </div>
        <ng-template #elseBlock4>
          <p class="text-success">{{equipe.getMilieuGauche().nom}}</p>
        </ng-template>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getMilieuCentral().nom=='';else elseBlock5">
          <button (click)="moveToChoixJoueur('milieuDeTerrain','Central',9)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>MC</h4>
          </button>
        </div>
        <ng-template #elseBlock5>
          <p class="text-success">{{equipe.getMilieuCentral().nom}}</p>
        </ng-template>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getMilieuDroit().nom=='';else elseBlock6">
          <button (click)="moveToChoixJoueur('milieuDeTerrain','Droit',9)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>MC</h4>
          </button>
        </div>
        <ng-template #elseBlock6>
          <p class="text-success">{{equipe.getMilieuDroit().nom}}</p>
        </ng-template>
      </div>
    </div>
    <div class="row pt-4 pb-4">
      <div class="col-3 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getDefenseurGauche().nom=='';else elseBlock10">
          <button (click)="moveToChoixJoueur('defenseurGauche','None',5)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>DG</h4>
          </button>
        </div>
        <ng-template #elseBlock10>
          <p class="text-success">{{equipe.getDefenseurGauche().nom}}</p>
        </ng-template>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getDefenseurCentralGauche().nom=='';else elseBlock8">
          <button (click)="moveToChoixJoueur('defenseurCentral','Gauche',7)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>DC</h4>
          </button>
        </div>
        <ng-template #elseBlock8>
          <p class="text-success">{{equipe.getDefenseurCentralGauche().nom}}</p>
        </ng-template>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getDefenseurCentralDroit().nom=='';else elseBlock7">
          <button (click)="moveToChoixJoueur('defenseurCentral','Droit',7)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>DC</h4>
          </button>
        </div>
        <ng-template #elseBlock7>
          <p class="text-success">{{equipe.getDefenseurCentralDroit().nom}}</p>
        </ng-template>
      </div>
      <div class="col-3 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getDefenseurDroit().nom=='';else elseBlock9">
          <button (click)="moveToChoixJoueur('defenseurDroit','None',5)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>DD</h4>
          </button>
        </div>
        <ng-template #elseBlock9>
          <p class="text-success">{{equipe.getDefenseurDroit().nom}}</p>
        </ng-template>
      </div>
    </div>
    <div class="row pt-4 pb-4">
      <div class="col-4">
      </div>
      <div class="col-4 d-flex align-items-center justify-content-center">
        <div *ngIf="equipe.getGardien().nom=='';else elseBlockG">
          <button (click)="moveToChoixJoueur('gardien','',11)" class="btn btn-dark bouton">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            <h4>G</h4>
          </button>
        </div>
        <ng-template #elseBlockG>
          <p class="text-success">{{equipe.getGardien().nom}}</p>
        </ng-template>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <button (click)="repeat()" class="btn btn-dark repeat bouton">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

</div>





