.simulationForm {
  background-color: rgb(0, 0, 0, 0.7);
  transition: transform 0.2s;
  font-weight: bolder;
  color: black;
  border: solid;
  border-radius: 20px;
  vertical-align: center;
  height: 50px;
  width: 100%;
  padding: 5px;
}

.txt {
  margin-bottom: 0;
  color: white;
}

.nbSelector {
  width: 50px;
  height: 75%;
}

.button {
  height: 25px;
  font-size: 11px;
  border-width: 1px;
  font-weight: bolder;
  vertical-align: center;
  text-align: center;
  padding-top: 0;
}

.button:hover {
  transform: scale(1.1);
}
