.simulationForm
{
  background-color: #3386FF;
  color:white;
  font-weight: bolder;
  border:solid;
  border-radius: 20px;
  vertical-align: center;
  height : 50px;
  width:90%;
  padding:5px;
}

.txt
{
  margin-bottom:0;
  color :#091C3E;
}

.nbSelector
{
  width: 50px;
  height: 75%;
}

.button{
  height:25px;
  font-size:11px;
  border-width: 1px;
  font-weight: bolder;
  vertical-align: center;
  text-align: center;
  padding-top: 0;
}
