.logo {
  height: 22px;
  width: auto;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.teamContainer {
  width: 35px;
}

.teamTable {
  border: 0.5px;
}

.teamName {
  font-size: 12px;
  font-weight: bolder;
  text-align: left;
}

.numericValues {
  font-size: 12px;
  text-align: center;
}

.headerValues {
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
}

.points {
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
}

.ranking {
  border: solid;
  background-color: white;
}

.reload {
  text-align: right;
}

.button {
  background-color: rgb(0, 0, 0, 0.7);
  transition: transform 0.2s;
  color: white;
  border: none;
}

.button:hover {
  transform: scale(1.1);
}
