<div class="background">
    <nav class="navbar-style">
        <a routerLink="homepage" class="logo-text mt-2" >FootSimulator</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-5"></div>
        </div>
        <div class="row ">
            <div class="col mt-5"></div>
        </div>
        <div class="row d-flex text-center">
            <div class="col-6 mt-5 d-flex justify-content-center align-items-center">
                    <a routerLink="simulator" class="link">
                        <div class="linkContainer">
                        <p class="section pt-2"><b>Champ Simulator</b></p>
                            <p class="slogan">Simule ton propre championnat</p>
                            <img class="image" src="../../../assets/ligue2.png">
                        </div>
                    </a>
           </div>
            <div class="col-6 mt-5 d-flex d-flex justify-content-center align-items-center">
                    <a routerLink="draft" class="link">
                        <div class="linkContainer ">
                        <p class="section pt-2"><b>Draft</b></p>
                            <p class="slogan">Construis l'equipe de tes rêves</p>
                            <img class="image" src="../../../assets/draft2.png">
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>


